/*
* Mario Orviz Viesca
* UO295180
*/

/* Estilos generales del proyecto MotoGP Desktop*/

/* Especifidad = 001 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    /* Blanco humo como fondo general */
    color: #212121;
    border: 0;
    margin: 0;
}

/* Especifidad = 002 */
header + p {
    font-size: smaller;
}

/* Especifidad = 001 */
header {
    background-color: #972020;
    /* hereda color de body */
    padding: 1rem;
}

/* Especifidad = 001 */
h1 {
    color: #fff067;
    background-color: inherit;
    /* Hereda background-color de header */
    margin: 0;
}

/*Especificidad = 013*/
header nav a.active {
    color: #fff067;
    background-color: inherit;
    font-weight: bold;
    /* Hereda background-color de header */
}

/* Especifidad = 002 */
header a {
    color: inherit;
    /* Hereda color de h1 */
    background-color: inherit;
    /* Hereda background-color de header */

    text-decoration: none;
    /* Elimina el subrayado del enlace */
}



/* Navegación */
/* Especifidad = 001 */
nav {
    color: #EDEDED;
    /* Gris asfalto para el texto del nav */
}

/* Especifidad = 002 */
nav a {
    color: inherit;
    /* Usa el color definido en nav */
    margin-right: 1rem;
    /* Transición de entrada y salida */
    transition: color 0.4s ease, font-size 0.4s ease;

}

/* Especifidad = 012 */
nav a:hover {
    color: #fff067;
    /* Amarillo neón al pasar el cursor */
    font-size: large;
}

/* Especificidad = 001 */
table{
    border-collapse: collapse;
    width: 100%;
    border: 0.2em solid;
}

/* Especificidad = 001 */
th {
    font-weight: bold;
    border-collapse: collapse;
    border: 0.1em solid #000000;
}

/* Especifidad = 001 */
tbody, td {
    text-align: center;
    border-collapse: collapse;
    border: 0.1em solid #000000;
}