/*
* Mario Orviz Viesca
* UO295180
*/
/* Estilos de layout para el proyecto MotoGP */
/* Epecifidad = 001 */
body {
    min-height: 100vh;

}


/* Aplica margen a todo el contenido dentro del body excepto al header */
/* Selecciona los hijos directos de body que no sean header */
/* Especifidad = 002 */
body>*:not(header) {
    margin: 1rem;
}


/* Especifidad = 001 */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



/* Especifidad = 002 */
header h1 {
    margin: 0;
    flex: 1 1 auto;
}

/* Especifidad = 002 */
header nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
}

/* Especifidad = 002 */
nav a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

/* Especifidad = 012 */
nav a:last-child {
    margin-right: 0;
}

/* Especifidad = 001 */
table {
    table-layout: fixed;

}

/* Especifidad = 003 */
article h2+img {
    vertical-align: middle;
    align-items: center;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

/* Especifidad = 003 */
main>section>img {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    height: auto;
}

/* Especifidad = 002 */
main>div {
    width: 90vw;
    height: 70vh;
    margin-top: 2em;
    border: 0.2em solid #ccc;
    border-radius: 1em;
}

/* Especifidad = 002 */
main>svg {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    height: auto;
}

/* Especifidad = 001 */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media (max-width: 799px) {    
    /* Especifidad = 001 */
    video,
    audio {
        width: 100%;
    }

    /* Especifidad = 001 */
    video {
        height: auto;
    }

    /* Especifidad = 002 */
    main>div,
    main>svg {
        /* Redefinición de ancho para pantallas pequeñas */
        width: 100%;
    }

}

@media (max-width:1048px) {
    
    /*Especificidad = 001*/
    header {
        /* Redefinición de flex-direction para visualización en pantallas pequeñas */
        flex-direction: column;
        /* Redefinición de align-items para visualización en pantallas pequeñas */
        align-items: flex-start;
    }
        /*Especificidad = 002*/
    header nav {
        /* Redefinicion de justify-content para visualización en pantallas pequeñas */
        justify-content: flex-start;
        /* Redefinición de flex-direction para visualización en pantallas pequeñas */
        flex-direction: column;
        /* Redefinición de align-items para visualización en pantallas pequeñas */
        align-items: flex-start;
        /* Redefinición de font-size para visualización en pantallas pequeñas */
        font-size: 18px;
    }

    /* Especifidad = 002 */
    header+p {
        display: none;
    }

}