/* Especifidad = 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em;

    justify-items: center;
    width: 80%;
    max-width: 40em;
    padding: 0.5em;

    /*border: 2px dashed red;*/

    box-sizing: border-box;
    /* protege de desbordes invisibles */
    margin-inline: auto;
    /* centra horizontal */
    margin-block: auto;
    /* centra vertical */
}

/* Especifidad = 002 */
main h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    text-align: center;
}

/* Especifidad = 002 */
main p {
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
    text-align: center;
}



@media (max-width: 799px) {
    /* Especifidad = 001 */
    main {
        /* Redefinici칩n de las columnas para pantallas peque침as */
        grid-template-columns: repeat(2, 1fr);
        /* Redefinici칩n de las filas para pantallas peque침as */
        grid-template-rows: repeat(6, auto);
    }
}